body {
  font: 10px sans-serif;
}

h1 {
  text-align: center;
  padding: 50px 0;
}

/* graph page: */
#graph h1 {
  padding: 20px 0;
}

.graph {
  margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.line1 {
  stroke: steelblue;
}

.line2 {
  stroke: red;
}

.container {
  text-align: center;
}

form {
  margin-top: 100px;
}

footer {
  text-align: center;
  margin-top: 20px;
  clear:both;
}
